.product-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    min-width: 10em;
    padding: 1em;
    margin: 1em;
    background: #F4F4F4;
}
.product-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    font-size: 20pt;
}