.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    flex-direction: column;
    padding-bottom: 1em;
}

.product .name{
    font-weight: bold;
    font-size: 14pt;
}

.product .desc{
    font-size: 10pt;
}