.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .products-container{
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }
  
  .filter-products,
  .add-product{
    padding-top: 3em;
    display: flex;
    justify-content: center;
  }

  .free{
    font-weight: bold;
    padding-left: 10px;
    color: green;
  }

  .new{
    font-weight: bold;
    padding-left: 10px;
    color: blue;
  }