.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .products-container{
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }
  
  .filter-products,
  .add-product{
    padding-top: 3em;
    display: flex;
    justify-content: center;
  }