.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.products-container{
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.products-add-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}
